* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0.5rem 0;
}

p {
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

ol {
  margin-left: 20px;
  li {
    padding: 0.5rem 0;
  }
}

html {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #542c85;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #542c85;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #542c85;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
    background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.link {
  color: RGB(84, 44, 133);
  transition: 0.5s;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 2px;
    background: RGB(84, 44, 133);
    transition: 0.5s;
  }

  &:hover::before {
    width: 100%;
  }
}
