@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rajdhani|Rubik:300&display=swap");

@import "reset";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: inherit;
}
