header {
  padding: 0 5rem;
  @media (max-width: 800px) {
    padding: 0 0.5rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: RGB(84, 44, 133);
  box-shadow: 0 1px 5px 0 rgba(84, 84, 84, 0.2), 0 2px 2px 0 rgba(84, 84, 84, 0.2), 0 3px 1px -2px rgba(84, 84, 84, 0.2);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  margin-bottom: 4rem;

  a.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white !important;

    @media (max-width: 800px) {
      .brandText {
        display: none;
      }
    }

    img {
      height: 50px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    li {
      a {
        transition: 0.5s;
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding: 20px 25px;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }

        &.active {
          background: rgba(0, 0, 0, 0.05);
          border-bottom: 4px solid white;
        }
      }
    }
  }
}
